In [0]:
%sql
CREATE TABLE IF NOT EXISTS Employees (
    EmployeeID INT PRIMARY KEY,          -- Unique employee ID
    FirstName VARCHAR(50) NOT NULL,      -- First name (required)
    LastName VARCHAR(50) NOT NULL,       -- Last name (required)
    Email VARCHAR(100),                  -- Email
    PhoneNumber VARCHAR(15),             -- Optional phone number
    HireDate DATE NOT NULL,              -- Joining date
    JobTitle VARCHAR(50),                -- Job role/title
    Salary DECIMAL(10, 2),               -- Positive salary
    DepartmentID INT,                    -- Foreign key reference
    CONSTRAINT FK_Department FOREIGN KEY (DepartmentID)
        REFERENCES Departments(DepartmentID) -- Link to Departments table
);

In [0]:
%sql
INSERT INTO Employees (EmployeeID, FirstName, LastName, Email, PhoneNumber, HireDate, JobTitle, Salary, DepartmentID)
VALUES
(1, 'John', 'Doe', 'john.doe@example.com', '9876543210', '2022-03-15', 'Software Engineer', 65000.00, 101),
(2, 'Jane', 'Smith', 'jane.smith@example.com', '9876543211', '2021-07-10', 'Data Analyst', 55000.00, 102),
(3, 'Michael', 'Brown', 'michael.brown@example.com', '9876543212', '2020-11-01', 'Project Manager', 85000.00, 103),
(4, 'Emily', 'Johnson', 'emily.johnson@example.com', '9876543213', '2023-01-05', 'HR Executive', 40000.00, 104),
(5, 'David', 'Williams', 'david.williams@example.com', '9876543214', '2022-09-20', 'DevOps Engineer', 72000.00, 101);